<h1>SERVICES</h1>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Add service', new_service_path, class:"card-link btn btn-primary btn-lg" %>
<% end %>

<% @services.each do |service| %>
<div class="card border-info w-75 d-inline-block rounded" style="max-width: 25rem;" >
  <div class="card-header bg-transparent border-secondary text-center text-capitalize font-weight-bold"><%= service.name %></div>
  <div class="card-header bg-transparent border-secondary text-justify text-capitalize"><%= service.description %></div>
  <div class="card-header bg-transparent border-secondary text-center"><%= number_to_currency(service.price, unit: "$") %></div>
  <% if user_signed_in? %>
  <div class="card-body">
    <% if current_user.client? %>
    <%= link_to 'Order for your pur-friend', new_order_path, class: 'btn btn-info' %>
    <% else %>
    <% if service.active? %>
    <%= button_to 'Remove', remove_service_path, method: 'post', params: { service_id: service.id }, class:'card-link btn btn-danger btn-sm' %>
    <% else %>
    <%= button_to 'Add', add_service_path, method: 'post', params: { service_id: service.id }, class:'card-link btn btn-primary btn-sm' %>
    <% end %>
    <% end %>

    <% if current_user.admin? %>
    <%= link_to 'Edit', edit_service_path(service.id), class:"card-link btn btn-outline-primary btn-sm" %>
    <%= link_to 'Delete service', services_path, class:"card-link btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>
