<h1>Edit <%= @pet_sitter_service.name %></h1>

<ul>
    <% listing.errors.full_messages do |message| %>
        <li style='color: maroon'><%= message %></li>
    <% end %>
</ul>

<%= simple_form_for @pet_sitter_service do |f| %>
    <%= f.input :price %>
    <%= f.collection_radio_buttons :active, PetSitterService.all, :id, :pet_sitter_service %>
    <%= f.button :submit, class:"card-link btn btn-success btn-sm"  %>
<% end %>
