<p id="notice"><%= notice %></p>

<h1>PET SITTERS</h1>

<br><br>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% @pet_sitters.each do |pet_sitter| %>
                <tr>
                    <th scope="row"><%= pet_sitter.id %></th>
                    <td><%= pet_sitter.first_name %></td>
                    <td><%= pet_sitter.last_name %></td>
                    <td><%= pet_sitter.email %></td>
                    <td><%= link_to 'Show', pet_sitter_path(pet_sitter.id), class:"btn btn-outline-primary btn-sm" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

