<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= @pet_sitter.first_name %></h1>

        <p>
                <strong>Name:</strong>
                <%= @pet_sitter.first_name %>
                <%= @pet_sitter.last_name %>
            </p>

            <p>
                <strong>About me...</strong>
                <%= @pet_sitter.about %>
            </p>

            <p>
                <strong>Address:</strong>
                <%= @pet_sitter.address %>
                <%= @pet_sitter.post_code %>
            </p>

            <% @pet_sitter.services.each do |service| %>
                <% if service.active %>
                    <p>
                        <strong>Services:</strong>
                        <%= service.name %>
                        <%= service.description %>
                    </p>
                <% end %>
            <% end %>

</div>

    <%= link_to 'Homepage', root_path, class:" btn btn-outline-dark btn-sm" %> |
    <%= link_to 'Back', pet_sitters_path, class:" btn btn-outline-success btn-sm" %> |
    <%= link_to 'Reviews', services_path, class:" btn btn-outline-primary btn-sm" %>
