<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= "PETS" %></h1>

        <% @pets.each do |pet| %>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-secondary"><%= image_tag pet.image, class: "image" if pet.image.attached? %></div>
            <div class="card-header bg-transparent border-secondary"><%= pet.name %></div>
            <div class="card-body text-secondary">
                <h5 class="card-text"><%= pet.age %></h5>
            </div>
        </div>

        <%= link_to 'Back', profile_path, class:" btn btn-outline-primary btn-sm" %> |
        <%= link_to 'Edit pet', pet_path(pet.id), class:"card-link btn btn-outline-success btn-sm" %> |
        <%= link_to 'Delete', pet_path(pet.id),method: :delete, data:{ confirm: 'Are you sure?'}, class:"card-link btn btn-outline-danger btn-sm" %>

        <% end %>
