<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <p id="notice"><%= notice %></p>

            <h1>PROFILE</h1>

            <p>
                <strong>First Name:</strong>
                <%= @user.first_name %>
            </p>

            <p>
                <strong>Last Name:</strong>
                <%= @user.last_name %>
            </p>

            <p>
                <strong>Email:</strong>
                <%= @user.email %>
            </p>

            <p>
                <strong>Address:</strong>
                <%= @user.address %>
            </p>

            <p>
                <strong>Post code:</strong>
                <%= @user.post_code %>
            </p>

            <%
=begin%>
            <p>
                <strong>Pets:</strong>
                <%= @user.pets %>
            </p>
            <%
=end%>

        </div>
        <%
=begin%>
        <div class="col-md-6">
            <%= image_tag @user.picture, class:"show-picture" %>
        </div>
        <%
=end%>
    </div>


</div>

<%= link_to 'Back', root_path ,class:" btn btn-outline-primary btn-sm"%> |
<%= link_to 'Edit', edit_user_registration_path(@user), class:"btn btn-outline-primary btn-sm"%> | 
<%= link_to 'Pets', pets_path, class:" btn btn-outline-success btn-sm" %> |
<%= link_to 'Add new pet', new_pet_path, class:"card-link btn btn-outline-success btn-sm" %> |
<%= link_to 'Delete profile', root_path, class:"card-link btn btn-outline-danger btn-sm" %>


