<div class="jumbotron">
  <h1 class="display-4">THE PET SITTER CLUB</h1>
  <p class="lead">Welcome!</p>
  <hr class="my-4">
  <p>This is a marketplace app created by Vanessa Denardin.</p>
  <p class="lead">

    <% if user_signed_in? %>
    <%= link_to 'My profile', profile_path ,class:" btn btn-primary btn-lg"%>
    <% end %>
    <%= link_to 'Pet Sitters', pet_sitters_path, class:" btn btn-primary btn-lg" %>
    <%= link_to 'Services', services_path, class:"btn btn-primary btn-lg" %>
    <% if user_signed_in? %>
    <%= link_to 'Orders', orders_path, class:"btn btn-primary btn-lg" %>
    <% end %>
  </p>
</div>
<div class="card m-3 drone-card image" style="width: 18rem;">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-interval="500" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= link_to (image_tag @services[0].image, class: "d-block w-100 image" if @services[0].image.attached?), service_path(@services[0].id) %>
      </div>
      <% @services.drop(1).each do |service| %>
      <div class="carousel-item">
        <%= link_to (image_tag service.image, class: "d-block w-100 image" if service.image.attached?), service_path(service.id) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
