<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead"><strong>Order Number:</strong> <%= @order.id %></p>
    <p class="lead"><strong>Date:</strong> <%= @order.date %></p>
    <p class="lead"><strong>Client:</strong> <%= @order.client.name %></p>
    <p class="lead"><strong>Pet Sitter:</strong> <%= @order.pet_sitter.name %></p>
  </div>

  <h1 class="display-4">Services: </h1>
  <div class="container">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_services.each do |order_service| %>
            <tr>
              <td>
                <%= order_service.service.name %>
              </td>
              <td>
                <%= number_to_currency(order_service.service.price, unit: "$") %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <p class="lead"><strong>Total:</strong> <%= number_to_currency(@order.total, unit: "$") %></p>
      </div>
    </div>
  </div>

  <h1 class="display-4">Review: </h1>
  <div class="container">
    <% if @order.review %>
    <p class="lead"><%= @order.review.review %></p>
    <% else %>
      <% if current_user.client? %>
        <%= link_to 'Leave a review', new_review_path("order_id" => @order.id, "pet_sitter_id" => @order.pet_sitter_id), class:"btn btn-primary btn-md" %>
      <% end%>
    <% end %>
  </div>


</div>
<div class="mx-auto" style="width: 200px;">
  <%= link_to 'Homepage', root_path, class:" btn btn-outline-dark btn-sm" %> |
  <%= link_to 'Back', orders_path, class:" btn btn-outline-primary btn-sm" %>
</div>
